@import url("https://fonts.googleapis.com/css?family=Roboto");
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e89da8;
}

.topnav li {
    float: left;
    padding: 14px 16px;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.topnav li a:hover {
    background-color: #111;
}

.topnav #search {
    float: right;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}

header {
    text-align: center;
    padding: 30px 0;
    background-image: url('floralbg.jpg');
    margin-bottom: 30px;
}

#opaque {
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

#homepage-container {
    width: 90vw;
    overflow: hidden;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #homepage-container .homepage-image {
        position: relative;
        width: 100vw;
        height: 100vw;
        overflow: hidden;
        float: left;
        display: block;
        background-color: #e89da8;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    #homepage-container .homepage-image {
        position: relative;
        width: 24vw;
        height: 24vw;
        overflow: hidden;
        float: left;
        display: block;
        background-color: #e89da8;
        margin: 0 3vw;
        margin-bottom: 30px;
    }
}

.homepage-image:hover {
    opacity: 0.5;
}

#homepage-container img {
    width: 100%;
}

.buttons {
    margin: 0 auto;
    text-align: center;
}

.buttons button {
    margin: 20px;
    display: inline-block;
}

.form {
    width: 50%;
    margin: 0 auto;
}

.fg-container {
    background-color: #e89da8;
}

.searchitem {
    overflow: hidden;
    height: 60%;
    border: 5px solid black;
    margin-bottom: 5px;
    position: relative;
}

.searchitemimage,
.searchitemdetails {
    float: left;
}

.searchitemimage {
    width: 40%;
}

.searchitemdetails {
    width: 55%;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.action-btns {
    width: 25%;
    position: absolute;
    bottom: 0;
}

.action-btns img {
    width: 10%;
}

#imgDetails {
    float: left;
    width: 50%;
}

.modal-body,
#infoBody {
    overflow: hidden;
}

#editView {
    border-style: outset;
    padding: 3%;
}

.modal-body img {
    display: inline;
    width: 50%;
}

#editView p {
    float: left;
}

#editView input {
    float: right;
}

#sfwRadios input {
    float: none;
}

#sfwRadios {
    float: right;
}

#registerPassword,
#loginPassword {
    -webkit-text-security: disc;
}

#logout {
    float: right;
}

#loadMore{
    margin-left: 45%;
    margin-bottom: 3%;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*# sourceMappingURL=style.css.map */
